


.label1{
	
	background-color:lightgreen;

	font-size:7px;
}

table{
	color:brown;
	font-size:10px;
	font-weight:bold;
}
body{
	background-color:cyan;
}

button{
	color:black;
	font-style:italic;
	font-size:10px;
}